@use '../variables' as *;
@use '../mixins' as *;

.courses {
    margin-bottom: $spacing-xxl;
  &__title {
    @include font-h2;
    margin-bottom: $spacing-lg;
    color: $black;
  }
  
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: $spacing-lg;
    
    @include mobile-only {
      grid-template-columns: 1fr;
      gap: $spacing-md;
    }
    
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: $spacing-xxl;
    color: $gray-text;
    @include font-body;
  } 
}