@use '../variables' as *;
@use '../mixins' as *;

.course-card {
  background: $white;
  border: 1px solid $gray-border;
  border-radius: $card-border-radius;
  overflow: hidden;
  box-shadow: $shadow-button;
  @include flex-column;
  @include transition(all);
  @include hover-effect;

  &__image {
    width: 100%;
    height: 240px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      @include transition(transform);
    }

    .course-card:hover & img {
      transform: scale(1.05);
    }
  }

  &__content {
    padding: 24px;
    flex-grow: 1;
    @include flex-column;
    gap: $spacing-md;

    @include mobile-only {
      gap: $spacing-sm;
    }
  }

  &__title {
    @include font-h2;
    font-size: 20px;
    font-weight: $font-weight-700;
    color: $black;
    margin: 0;
    line-height: 1.4;

    @include mobile-only {
      font-size: 18px;
    }
  }

  &__instructor {
    @include font-body;
    color: $primary-instructor;
    margin: 0;
  }

  &__footer {
    @include flex-between;
  }

  &__price {
    @include font-h2;
    font-size: 18px;
    font-weight: $font-weight-700;
    color: $primary-price;

    @include mobile-only {
      font-size: 16px;
    }
  }

  &__divider {
    height: 16px;
    width: 1px;
    background-color: $primary-instructor;
    margin: 0 8px;
  }

  &__category {
    @include font-small;
    padding: 1px 8px;
    color: $white;
    border-radius: $button-border-radius;

    &--marketing {
      background-color: $cat-marketing;
    }

    &--design {
      background-color: $cat-design;
    }

    &--development {
      background-color: $cat-development;
    }

    &--hr {
      background-color: $cat-hr;
    }

    &--management {
      background-color: $cat-management;
    }
  }


}