@use '../variables' as *;
@use '../mixins' as *;
@use "sass:color";

.search {
  margin: $spacing-xl 0;
  position: relative;
  max-width: 500px;
  min-width: 315px;

  &__wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    min-width: 315px;
    padding: 11px 16px 12px;
    border: 1px solid #D7DADD;
    border-radius: $button-border-radius;
    font-family: $font-primary;
    @include font-small;
    color: $primary-button;
    background-color: $white;
    @include transition(border-color);

    &:focus {
      outline: none;
      border-color:  color.scale($primary-button, $lightness: -10%);
    }

    &::placeholder {
      color: $primary-button;
      opacity: 0.7;
    }
  }

  &__button {
    position: absolute;
    right: $spacing-md;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: $spacing-xs;
    color: $primary-button;
    @include transition(color);

 

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}