// Основной файл стилей
// Импорты
@import 'variables';
@import 'mixins';
@import 'base';

// Компоненты
@import 'components/header';
@import 'components/search';
@import 'components/filters';
@import 'components/cards';
@import 'components/card';
// @import 'components/footer';

// Утилиты
@import 'utilities';